.user_cointainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.image_wrapper img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.user_properties{
    display: flex;
    flex-direction: column;
}