.product_component{
    margin: 10px;
}

.products_wrapper{
    
    margin: 0 20%;
    margin-bottom: 50px;
    justify-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.products_cointainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.products_cointainer img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* background-size: cover; */
}

.btn_add{
    width: 300px;
    background-color: #f8b03b;
    color: black;
    /* border: black 1px solid; */
    border: none;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn_add:hover{
    background-color: #b17c28;
    cursor: pointer;
}








.filter_cointainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filter_items{
    margin: 10px;
}