.product_component{
    margin: 10px;
}

.products_wrapper{
    margin-top: 20px;
    justify-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.products_cointainer{
    display: flex;
    flex-direction: column;
}

.products_cointainer img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* background-size: cover; */
}

.btn_add{
    width: 100%;
}








.filter_cointainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filter_items{
    margin: 10px;
}